<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
    <p>{{'teste.helloW' | translate}}</p>
  
    <ion-button (click)="applyDark()">{{'teste.dark' | translate}}</ion-button>
    <ion-button (click)="removeDark()">{{'teste.removeDark' | translate}}</ion-button>
    <ion-button (click)="goTo()">{{'teste.change' | translate}}</ion-button>

    <app-comp-test></app-comp-test>
  </div>

</ion-content>
